{% extends 'customer/customer_home.html' %}
{% block content %}
<div class="card w-75">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">name</th>
          <th scope="col">feedback</th>
          <th scope="col">date</th>
        </tr>
      </thead>
      <tbody>
      {% for i in data %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.name}}</td>
          <td>{{i.feedback}}</td>
          <td>{{i.date}}</td>
          <td><a type="button" class="btn btn-primary" href="{% url 'view_replay' %}">VIEW REPLAY</a></td>

        </tr>
      {% endfor %}

      </tbody>
    </table>

  </div>
</div>
{% endblock %}