{% extends 'customer/customer_home.html' %}
{% block content %}
<div class="card">
  <div class="card-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">replay</th>
          <th scope="col"> </th>
        </tr>
      </thead>
      <tbody>
      {% for i in data %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.replay}}</td>
<!--          <td><a type="button" class="btn btn-primary" href="{% url 'districtdelete' i.id %}">REPLAY</a></td>-->

        </tr>
      {% endfor %}

      </tbody>
    </table>

  </div>
</div>
{% endblock %}